html,
body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: hsl(214, 100%, 97%);
}

body,
div,
h1,
input,
p {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  color: #000;
}

h2 {
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0px;
}
h1 {
  padding: 2% 0;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  border-bottom: solid 1px #75a7ff;
}

p {
  font-size: 1em;
}

hr {
  color: #f5f5f5;
  opacity: 0.3;
}

.main-block {
  position: relative;
  width: 15%;
  min-width: 12em;
  height: 94%;

  /* padding: 0.2%; */
  border-radius: 5px;
  border: solid 2px #75a7ff;
  background: #ffffff;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 8px 0px rgb(191 219 254);
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  height: 100%;
}

#resultat {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center;  */
  margin: auto;
  width: 60%;
  height: 92%;
  padding: 10px;
  border-radius: 5px;
  border: solid 2px #75a7ff;
  background: #ffffff;
  box-shadow: 10px 8px 0px rgb(191 219 254);
}

#resultat h1 {
  position: absolute;
  top: 0;
  left: auto;
  width: 20%;
  height: auto;
  margin: 0;
  padding: 10px;
}

#display-result {
  border-radius: 5px;
  border: solid 2px #75a7ff;
  width: 90%;
  height: 80%;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  overflow: auto;
  box-shadow: 4px 4px 0px rgb(191 219 254);
}

input[type="text"],
select,
textarea,
input[type="number"] {
  width: 80%;
  height: 2.2em;
  border-radius: 5px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
  background: #fff;
  box-shadow: 3px 3px 6px 0px #ccdbe8 inset,
    -3px -3px 6px 1px rgba(255, 255, 255, 0.5) inset;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.btn-block {
  text-align: center;
}

.file-upload .file-select .file-select-button {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 600;
  height: 2em;
  margin-top: 5%;
  background: #75a7ff;
  color: #fff;
  box-shadow: 1px 2px 0px 1px #3b83ff;
  border-radius: 5px;
  cursor: pointer;
}

.file-upload .file-select input[type="file"] {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  height: 2.2em;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

#file {
  display: none;
}

button,
#Dl-Btn {
  width: 80%;
  height: 2.2em;
  margin-top: 4%;
  border-radius: 5px;
  border: none;
  background: #75a7ff;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  box-shadow: 1px 2px 0px 1px #3b83ff;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Dl-Btn a {
  text-decoration: none;
  color: #fff;
}

button:hover {
  background: #75a7ff;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
